/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.container {
    max-width: 800px;
    margin: 20px auto; /* Center the container */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="submit"],
select {
    width: calc(100% - 18px); /* Adjust for padding and border */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

.equipment-item {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

/* Hover effect on buttons */
input[type="submit"]:hover,
.back-link:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Styles for "Select Equipment:" */
fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #333; /* Dark gray color for legend text */
    padding: 0 5px; /* Add a bit of padding to the legend */
}

.equipment-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.equipment-name {
    font-size: 16px;
    color: #333; /* Dark gray color for equipment name */
}
