.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.room {
    text-align: center;
    cursor: pointer;
}

.room img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: none;
}
