
        /* Popup container */
         .popup {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); /
        } 

        /* Popup content */
         .popup-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
            position: relative;
        } 

        /* Close button */
         .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

         .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer; 
        } 
        #addUserPopup {
            background-color: #fff; /* สีพื้นหลังของป๊อปอัป */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* เงาสำหรับป๊อปอัป */
            border-radius: 5px; /* รูปร่างของขอบป๊อปอัป */
            padding: 20px; /* การเพิ่มระยะห่างภายในป๊อปอัป */
        }
        
        #addUserPopup .closeButton {
            background-color: #ccc; /* สีของปุ่มปิดป๊อปอัป */
            color: #fff; /* สีของตัวอักษรบนปุ่มปิดป๊อปอัป */
            border: none; /* ไม่มีเส้นขอบปุ่ม */
            padding: 5px 10px; /* การเพิ่มระยะห่างของปุ่มปิดป๊อปอัป */
            border-radius: 3px; /* รูปร่างของขอบปุ่มปิดป๊อปอัป */
            cursor: pointer; /* เปลี่ยนรูปลักษณ์ของเมาส์เมื่อชี้ไปที่ปุ่มปิดป๊อปอัป */
        }
        
        #addUserPopup .closeButton:hover {
            background-color: #666; /* เปลี่ยนสีพื้นหลังของปุ่มปิดป๊อปอัปเมื่อชี้ไปที่ปุ่ม */
        }
        