body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    background-color: #016E97; /* สีพื้นฐาน */
    color: white; /* สีข้อความ */
    margin-top: 10px;
    padding: 10px 20px; /* ขนาดปุ่ม */
    border: none; /* ไม่มีขอบ */
    border-radius: 4px; /* มุมโค้งมน */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
    font-size: 16px; /* ขนาดตัวอักษร */
    transition: background-color 0.3s ease; /* การเปลี่ยนสีแบบ smooth */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #004d66; /* สีเมื่อ hover */
}

@media screen and (max-width: 768px) {
    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 6px;
    }

    input[type="submit"] {
        padding: 8px;
    }
}
