body {
    background-color: #f0f0f0; /* ตั้งค่าสีพื้นหลังของเว็บไซต์เป็นสีเทาอ่อน */
    font-family: Arial, sans-serif; /* เปลี่ยนแบบอักษรเป็น Arial หรือแบบอักษรที่ไม่มีขั้นตอน (sans-serif) */
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    width: 80%; /* กำหนดความกว้างของ container เป็น 80% ของพื้นที่แสดงผล */
    margin: 0 auto; /* ทำให้ container อยู่ตรงกลางของหน้าจอ */
}

.room-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.room-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    padding: 10px;
    max-width: 800px; /* เพิ่มความกว้างสูงสุด */
    margin: auto; /* ให้อยู่กลาง */
}

.room-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.room-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.room-card h3 {
    margin: 0;
    text-align: left;
}

.room-card p {
    margin: 10px 0;
}

.room-card:hover {
    transform: scale(1.05);
}

.back-link {
    display: block;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
}
.room-card h3, .room-card p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 10px;
}