/* room_statistics.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}
h1 {
    margin-bottom: 20px;
    color: #333333;
}

form {
    text-align: left;
    margin-bottom: 20px;
}

label {
    text-align: left;
    font-size: 16px;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}
h2{
    text-align: left;
    margin-right: 10px;
}
button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #34b138;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%; /* ปรับขนาดของตารางให้เท่ากับ container */
    margin: 20px auto; /* จัดตำแหน่งตารางกลางหน้า */
    border-collapse: collapse;
    border: 1px solid #ccc; /* เพิ่มขอบตาราง */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

