body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

.logo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* จัดให้เนื้อหาอยู่ตรงกลาง */
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
  
  
}

.menu {
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดให้เมนูอยู่ตรงกลางแนวนอน */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu .item {
    float: left;
    margin-right: 10px;
}

.menu .item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu .item.active a {
    background-color: #555;
}

.menu .item a:hover {
    background-color: #555;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
}

.submenu a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}

.submenu a:hover {
    background-color: #555;
}

.menu .item:hover .submenu {
    display: block;
}

.toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        float: right;
        margin-right: 10px;
    }

    .toggle a {
        color: white;
        text-decoration: none;
    }
}

