body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
} 
td a.edit,
td a.delete,
a.back{
    color: red;
}
td a.add {
    color: blue;
}
a.back {
    color: rgb(0, 175, 0);
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
    color: #555;
}

